.badge-info-round {
    display: block;
    background: red;
    border-radius: 200px;
    width: 90px;
    height: 90px;
    margin-bottom: -80px;
    position: relative;
    z-index: 9999 !important;
}