.footer-title {
    display: block;
    text-align: center !important;
    padding: 20px;
}


.footer-full .container {
    background: #00A1E0;
    max-width: 100% !important;
}


.footer-brands {
    padding: 40px 0;
    background: #D3D3D3;

}


.title-brands {
    text-align: center;
}

.img01-brand-footer {
    max-width: 150px;
}

.img-payment-footer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


footer ul {
    display: inline-flex;
}

.menu-footer a {
    color: #fff;
}

.menu-footer a {
    color: #fff;
    padding-right: 1rem;
}

.menu-footer p:last-child {
    display: none;
}

.menu-left-footer {
    padding-top: 60px;
}

.footer-menu h3 {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
}

.bloco-hotline {
    padding-top: 60px;
}

.bloco-hotline h5 {
    font-weight: 600;
    font-size: 16px;
}

.bloco-hotline a {
   color: #fff;
}


footer .copyright, footer .postscript {
    margin-bottom: 0;
    text-align: center !important;
}

footer {
    padding-bottom: 0;
}